@charset "utf-8";
/**
 * APlayer Dark Style
 * Last Update: 2020/05/14
 */

.aplayer.aplayer-fixed {
  z-index: 1000;
}

.aplayer.aplayer-fixed .aplayer-list {
  background: #fff;
}

.mdui-theme-layout-dark .aplayer,
.mdui-theme-layout-dark .aplayer .aplayer-list,
.mdui-theme-layout-dark .aplayer .aplayer-body {
  border: none!important;
  background: #616161!important;
}

.mdui-theme-layout-dark .aplayer.aplayer-fixed .aplayer-info {
  border: none!important;
}

.mdui-theme-layout-dark .aplayer .aplayer-miniswitcher {
  background: #757575!important;
}

.mdui-theme-layout-dark .aplayer svg circle, .mdui-theme-layout-dark .aplayer svg path {
  fill: #fff!important;
}

.mdui-theme-layout-dark .aplayer,
.mdui-theme-layout-dark .aplayer .aplayer-author,
.mdui-theme-layout-dark .aplayer .aplayer-lrc p,
.mdui-theme-layout-dark .aplayer .aplayer-list .aplayer-list-index,
.mdui-theme-layout-dark .aplayer .aplayer-list .aplayer-list-author {
  color: #fff!important;
}

.mdui-theme-layout-dark .aplayer .aplayer-list-light span,
.mdui-theme-layout-dark .aplayer .aplayer-list-light .aplayer-list-index,
.mdui-theme-layout-dark .aplayer .aplayer-list-light .aplayer-list-author,
.mdui-theme-layout-dark .aplayer .aplayer-list ol li:hover,
.mdui-theme-layout-dark .aplayer .aplayer-list ol li:hover .aplayer-list-index,
.mdui-theme-layout-dark .aplayer .aplayer-list ol li:hover .aplayer-list-author {
  color: #000!important;
}

.mdui-theme-layout-dark .aplayer .aplayer-list ol li:hover {
  background-color: rgba(255,255,255,0.65)!important;
}

.mdui-theme-layout-dark .aplayer .aplayer-lrc:before {
  height: 0%!important;
}

.mdui-theme-layout-dark .aplayer .aplayer-lrc:after {
  width: 0%!important;
}

.mdui-theme-layout-dark .aplayer .aplayer-icon:hover path {
  fill: #9E9E9E!important;
}

.mdui-theme-layout-dark .aplayer.aplayer-fixed .aplayer-lrc {
  text-shadow: 0 0 1px #424242!important;
}

@media(max-width: 450px) {
 .aplayer.aplayer-fixed .aplayer-body {
  width: auto!important;
  max-width: none!important;
 }
}

@media(max-width: 1075px) {
 .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -68px;
 }
}