@charset "utf-8";
/**
   _____                 _     _        
  / ____|               | |   | |       
 | |        __ _   ___  | |_  | |   ___ 
 | |       / _` | / __| | __| | |  / _ \
 | |____  | (_| | \__ \ | |_  | | |  __/
  \_____|  \__,_| |___/  \__| |_|  \___|
 ----------------------------------------
 * Castle's OwO Stylesheet
 * Last Update: 2022/04/22 [0.9.7]
 * Author: ohmyga (https://ohmyga.cn)
 * GitHub: https://github.com/bakaomg/castle-Typecho-Theme/
 * LICENSE: GPL V3 (https://www.gnu.org/licenses/gpl-3.0.html)
 **/

/* ========== 表情框 ========== */
#owoBox {
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 600px;
  margin: auto;
  z-index: 6100;
  position: fixed;
  border-radius: 5px;
  transition: all 0.3s;
  background-color: #fff;
}

#owoBox.moe-owo-open {
  opacity: 1;
  transform: translateY(-36px);
}

#owoBox header.moe-owo-header {
  position: relative;
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
}

#owoBox header.moe-owo-header .moe-owo-header-title {
  padding: 3px;
  font-size: 20px;
  display: inline-block;
}

#owoBox header.moe-owo-header button {
  float: right;
}

#owoBox main.moe-owo-main {
  padding: 0px;
  height: 210px;
  font-size: 15px;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

#owoBox main.moe-owo-main a.moe-owo-text-btn {
  padding: 3px;
  border-radius: 5px;
  margin: 5px 3px 5px 3px;
}

#owoBox main.moe-owo-main a:hover {
  color: inherit;
  text-decoration: none;
}

#owoBox main.moe-owo-main a.moe-owo-emoji-btn,
#owoBox main.moe-owo-main a.moe-owo-smallPicture-btn {
  width: 40px;
  height: 30px;
  padding: 3px;
  min-width: 20px;
  min-height: 20px;
  line-height: 28px;
  border-radius: 5px;
  margin: 5px 3px 5px 3px;
}

#owoBox main.moe-owo-main a.moe-owo-smallPicture-btn {
  width: 40px;
  height: 36px;
  line-height: 0;
}

#owoBox main.moe-owo-main a.moe-owo-smallPicture-btn img {
  width: 30px;
  height: 30px;
}

#owoBox main.moe-owo-main a.moe-owo-picture-btn {
  margin: 3px;
  padding: 3px;
  height: auto;
  line-height: 0;
  min-width: auto;
  border-radius: 5px;
}

#owoBox main.moe-owo-main a.moe-owo-picture-btn img {
  max-height: 52px;
  border-radius: 3px;
}

#owoBox footer.moe-owo-footer-tab {
  border-top: 1px solid #E0E0E0;
}

/* ===== 表情框遮罩层 ===== */
#moe-owo-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 6090;
  position: fixed;
  transition: all .2s;
  background-color: rgba(0,0,0,.3);
}

#moe-owo-overlay.moe-owo-overlay-open {
  opacity: 1;
}

/* ========== 媒体查询 ========== */
@media(max-width: 610px) {
 #owoBox {
  width: 96%;
 }
}